#dice{
   background-color: black;
   padding-top: 20px;
   height: 100px;
   color: white;
   border-image-width: auto;
}
#dice h1{
    text-align: center;

}
#play1 img{
   height: 250px;
   width: 400px;
   margin-right: 100px;
   padding-left: 150px;
}
#play1 h4{
    text-align: center;
    margin-top: 50px;
}
#play2 h4{
    text-align: center;
    margin-top: 50px;
}
#play2 img{
    height: 250px;
    width: 400px;
    text-align: right;
    margin-right: 100px;
    padding-left: 150px;
}
#play{
    background-color: blue;
    /*padding-bottom: 100px;*/
}
.Ts{
   padding-left: 520px;
   padding-top: 100px;
}
.roll{
    padding-top: 50px;
}